@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  flex-direction: column;
  background-color: hsl(212, 45%, 89%);
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  padding: 1.3rem;
  width: 20em;
  border-radius: 15px;
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: inherit;
}

h3 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

h3 + p {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.attribution {
  position: fixed;
  bottom: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
